{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
    <h2>Créer un nouveau option</h2>
    {{ include('admin/option/_form.html.twig', {button: 'Créer'}) }}
    </div>

{% endblock %}

